# Зависимости
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Переменные окружения
.env
.env.local
.env.*.local

# Сборки
dist/
build/
out/

# Временные файлы
tmp/
.tmp/
temp/

# Логи
logs/
*.log

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Система
.DS_Store
Thumbs.db
